<!doctype html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css">
  <title>Quantum Philosophy</title>
</head>
<body>

<!-- Start Top Bar -->
<div class="title-bar" data-responsive-toggle="animated-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">QuantumPhilosophy</div>
</div>

<div class="top-bar" id="animated-menu" data-animate="fade-in fade-out">
  <div class="top-bar-left">
    <ul class="menu">
      <li class="menu-text show-for-medium">QuantumPhilosophy</li>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Portfolio</a></li>
    </ul>
  </div>
<!--  <div class="top-bar-right">-->
<!--    <ul class="menu">-->
<!--      <li><a href="#">Three</a></li>-->
<!--      <li><a href="#">Four</a></li>-->
<!--      <li><a href="#">Five</a></li>-->
<!--      <li><a href="#">Six</a></li>-->
<!--    </ul>-->
<!--  </div>-->
</div>
<!-- End Top Bar -->

<div>
  {{{ body }}}
</div>

<!-- Start Footer -->
<footer class="marketing-site-footer">
  <div class="row medium-unstack">
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-name">QuantumPhilosophy</h4>
      <p>If you need something to worship, then worship life — all life, every last crawling bit of it! We're all in this beauty together!</p>
      <ul class="menu marketing-site-footer-menu-social simple">
        <li><a href="https://github.com/QuantumPhilosophy" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/tony-winters/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-title">Contact Info</h4>
      <div class="marketing-site-footer-block">
        <i class="fas fa-map-marker-alt" aria-hidden="true"></i>
        <p>Renton, WA 98056</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fas fa-phone" aria-hidden="true"></i>
        <p>206-718-4515</p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fas fa-envelope" aria-hidden="true"></i>
        <p><a href="mailto:tony.winters0@gmail.com">Tony.Winters0@Gmail.com</a></p>
      </div>
      <div class="marketing-site-footer-block">
        <i class="fas fa-file-pdf" aria-hidden="true"></i>
        <p><a href="AnthonyWintersResume.pdf">View Resume</a></p>
      </div>
    </div>
    <div class="medium-4 columns">
      <h4 class="marketing-site-footer-title">More to come</h4>
      <div class="row small-up-3">
        <div class="column column-block">
          <img src="imgs/moon-2134881.jpg" alt="" />
        </div>
        <div class="column column-block">
          <img src="imgs/moon-2134881.jpg" alt="" />
        </div>
        <div class="column column-block">
          <img src="imgs/moon-2134881.jpg" alt="" />
        </div>
        <div class="column column-block">
          <img src="imgs/moon-2134881.jpg" alt="" />
        </div>
        <div class="column column-block">
          <img src="imgs/moon-2134881.jpg" alt="" />
        </div>
        <div class="column column-block">
          <img src="imgs/moon-2134881.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
  <div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column">
        <p>QuantumPhilosophy - &copy; 2019</p>
      </div>
      <div class="column">
        <ul class="menu marketing-site-footer-bottom-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Portfolio</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->

<script src="js/vendor/jquery.js"></script>
<script src="js/vendor/what-input.js"></script>
<script src="js/vendor/foundation.min.js"></script>
<script src="js/app.js"></script>

</body>
</html>
