<div class="callout large">
  <div class="row column text-center">
    <h1>{{msg}}</h1>
    <p class="lead">I'm Anthony Winters, creator of esoteric worlds and full stack web apps. A former destroyer of code turned code builder.</p>
    <a href="#" class="button large">About Me</a>
    <a href="#" class="button large hollow">Portfolio</a>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns medium-push-6">
    <img class="thumbnail" src="imgs/space-624054.jpg">
  </div>
  <div class="small-12 medium-6 columns medium-pull-6">
    <h2>Quantum Philosopher</h2>
    <p>I'm a full-stack web developer with 2+ years experience primarily in Node.js but with an interest in React.js and the front-end of applications. Coupled with 10+ years of software testing experience.</p>
  </div>
</div>

<div class="marketing-site-three-up">
  <h2 class="marketing-site-three-up-headline">Frontend, Backend, Everything Else</h2>
  <div class="row medium-unstack">
    <div class="columns">
      <i class="fas fa-dna" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">JavaScript</h4>
      <p class="marketing-site-three-up-desc">First programming language I ever touched was JavaScript. You could say it's in my DNA.</p>
    </div>
    <div class="columns">
      <i class="fab fa-node-js" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">Node.js</h4>
      <p class="marketing-site-three-up-desc">Node is what gives JavaScript it's strength. It's the rug that ties the room together.</p>
    </div>
    <div class="columns">
      <i class="fab fa-react" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">React.js</h4>
      <p class="marketing-site-three-up-desc">A new passion. I have always had a soft spot for UI's. React is breathing new life into building dynamic user experiences.</p>
    </div>
  </div>
</div>

<div class="row column">
  <h3>My Recent Work</h3>
</div>

<div class="row">
  <div class="small-12 medium-6 columns medium-push-6">
    <img class="thumbnail" src="imgs/man-3054601.jpg">
  </div>
  <div class="small-12 medium-6 columns medium-pull-6">
    <h2>Project Re-Elevated</h2>
    <p>The Elevated ecosystem now consists of 3 apps. Beer tracking was removed and focus placed on strain tracking. The Elevated front-end was split in two; a mobile app built using React Native and a web app built using React. The Elevated API was built using Node.js with a MySql database.</p>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-4 columns">
    <h3>Elevated Mobile</h3>
    <p>The Elevated mobile app is a social media style app for those who consume cannabis products, allowing users to search for their favorite strains from their favorite labels to see and leave reviews.</p>
  </div>
  <div class="small-12 medium-4 columns">
    <h3>Elevated Web</h3>
    <p>The Elevated web app is a dashboard style app for those who sell or grow cannabis, allowing sellers to upload ads / promotions and growers upload seed menus for growers to order from. It also allows both sellers and growers to see anonymous user generated trending data.</p>
  </div>
  <div class="small-12 medium-4 columns">
    <h3>Elevated API</h3>
    <p>The Elevated API stores and serves data to both the Elevated web and mobile apps.</p>
  </div>
</div>

<div class="row column">
  <h4>Other Projects</h4>
</div>

<div class="row small-up-1 medium-up-2 large-up-3">

  <div class="column">
    <div class="card-user-profile">
      <img class="card-user-profile-img" src="imgs/elevated-take1.png" alt="elevated project first iteration" />
      <div class="card-user-profile-content card-section">
        <p class="card-user-profile-name"><a href="https://elevated-shadow.herokuapp.com/" target="_blank">Elevated Take 1</a></p>
        <p class="card-user-profile-status">Beer & Strain Tracker</p>
        <p class="card-user-profile-info">Finding a new drink or strain to help elevate you. Tracking what has elevated you and what did not.</p>
      </div>

      <div class="card-user-profile-actions">
        <a href="https://github.com/QuantumPhilosophy/elevated" target="_blank" class="card-user-profile-button button hollow"><i class="fab fa-github"></i> GitHub</a>
<!--        <a href="#" class="card-user-profile-button button hollow secondary">More Info</a>-->
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card-user-profile">
      <img class="card-user-profile-img" src="imgs/burger-devour.png" alt="picture of space" />
      <div class="card-user-profile-content card-section">
        <p class="card-user-profile-name"><a href="https://aw-burger-devourer.herokuapp.com/" target="_blank">Burger Devour</a></p>
        <p class="card-user-profile-status">Hamburger & Sandwich Tracker</p>
        <p class="card-user-profile-info">A simple app that accepts inputs and adds them to the list of burger names in the database and renders that to the left side of the screen with a "devour" button. When the button is clicked, the burger moves to the right side of the screen to the devoured section.</p>
      </div>

      <div class="card-user-profile-actions">
        <a href="https://github.com/QuantumPhilosophy/burger-devour" target="_blank" class="card-user-profile-button button hollow"><i class="fab fa-github"></i> GitHub</a>
<!--        <a href="#" class="card-user-profile-button button hollow secondary">More Info</a>-->
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card-user-profile">
      <img class="card-user-profile-img" src="imgs/dynamic-api-gif-searcher.png" alt="picture of space" />
      <div class="card-user-profile-content card-section">
        <p class="card-user-profile-name"><a href="https://quantumphilosophy.github.io/dynamic-api-gif-searcher/" target="_blank">Dynamic Api Gif Searcher</a></p>
        <p class="card-user-profile-status">Images Adrift in the Aether</p>
        <p class="card-user-profile-info">Using the GIPHY API along with JavaScript and jQuery to make a dynamic web page that populates with GIFs of your choice.</p>
      </div>

      <div class="card-user-profile-actions">
        <a href="https://github.com/QuantumPhilosophy/dynamic-api-gif-searcher" target="_blank" class="card-user-profile-button button hollow"><i class="fab fa-github"></i> GitHub</a>
<!--        <a href="#" class="card-user-profile-button button hollow secondary">More Info</a>-->
      </div>
    </div>
  </div>

</div>

<div class="marketing-site-features">
  <h2 class="marketing-site-features-headline">Full Stack Web Development</h2>
  <p class="marketing-site-features-subheadline subheader">using the MERN stack</p>
  <div class="row">
    <div class="small-12 medium-3 columns">
      <i class="fas fa-database" aria-hidden="true"></i>
      <h4 class="marketing-site-features-title">MongoDB / MySql</h4>
      <p class="marketing-site-features-desc">Depending on the use case MongoDB or MySql. Used for backend data storage.</p>
    </div>
    <div class="small-12 medium-3 columns">
      <i class="fas fa-dragon" aria-hidden="true"></i>
      <h4 class="marketing-site-features-title">Express.js</h4>
      <p class="marketing-site-features-desc">Middleware helping smooth the communication between backend and frontend in Node.js</p>
    </div>
    <div class="small-12 medium-3 columns">
      <i class="fab fa-react" aria-hidden="true"></i>
      <h4 class="marketing-site-features-title">React.js</h4>
      <p class="marketing-site-features-desc">The new UI framework introducing state. Allowing for faster more precise DOM updating.</p>
    </div>
    <div class="small-12 medium-3 columns">
      <i class="fab fa-node-js" aria-hidden="true"></i>
      <h4 class="marketing-site-features-title">Node.js</h4>
      <p class="marketing-site-features-desc">Node is what gives JavaScript it's strength. It's the rug that ties the room together.</p>
    </div>
  </div>
</div>
